# Django Project settings
SECRET_KEY=
ALLOWED_HOSTS=.localhost, .127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local
ENVIRONMENT=LOCAL

# Admin Settings
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=

# Database variables
DB_NAME=receipt_db
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# NGINX variables
NGINX_PORT=3000

# CELERY
CELERY_BROKER_URL=redis://redis-server:6379
CELERY_RESULT_BACKEND=redis://redis-server:6379

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
