version: '3.7'
services:
  web:
    build: .
    command: bash script/run_web.sh
    restart: always
    env_file:
      - ./.env
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
    expose:
      - '8000'
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:
      - redis-server
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    env_file:
      - ./.env
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:
      - web
  redis-server:
    image: redis
    restart: unless-stopped
    ports:
      - 6379:6379
  celery:
    build: .
    command: celery worker -A config -l info
    restart: always
    env_file:
      - ./.env
    depends_on:
      - redis-server
      - web
  celery-beat:
    build: .
    command: celery beat -A config -l info
    restart: always
    env_file:
      - ./.env
    depends_on:
      - web
      - celery

volumes:
  static_volume:
  media_volume:

